<div class="row justify-content-center">
  <% @cocktails.each do |cocktail| %>
    <div class="card card-cocktail m-3" style="width: 18rem;">
      <div style="background-image: url(https://source.unsplash.com/random/300x200/?<%=cocktail.name.downcase.gsub(' ','-')%>);" class="card-cocktail-img">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h5>
      </div>
    </div>
  <% end %>
</div>
